In [114]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [115]:
df = pd.read_csv('train.csv')
#data2 = pd.read_csv('test.csv')

In [116]:
# df = pd.concat([data1, data2], ignore_index=True)

In [117]:
df.head(3)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422

In [118]:
df.shape

(550068, 12)

In [119]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     550068 non-null  int64
 1   Product_ID                  550068 non-null  object
 2   Gender                      550068 non-null  object
 3   Age                         550068 non-null  object
 4   Occupation                  550068 non-null  int64
 5   City_Category               550068 non-null  object
 6   Stay_In_Current_City_Years  550068 non-null  object
 7   Marital_Status              550068 non-null  int64
 8   Product_Category_1          550068 non-null  int64
 9   Product_Category_2          376430 non-null  float64
 10  Product_Category_3          166821 non-null  float64
 11  Purchase                    550068 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 50.4+ MB

In [120]:
df.drop(
    columns= ['User_ID','Product_ID'],
    inplace = True
)

In [121]:
df.head()

,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [122]:
df.isna().sum()

Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            173638
Product_Category_3            383247
Purchase                           0
dtype: int64

In [123]:
df['Product_Category_2'].fillna(-1, inplace = True)
df['Product_Category_3'].fillna(-1, inplace = True)
df.head()

,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,F,0-17,10,A,2,0,3,-1.0,-1.0,8370
1,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,F,0-17,10,A,2,0,12,-1.0,-1.0,1422
3,F,0-17,10,A,2,0,12,14.0,-1.0,1057
4,M,55+,16,C,4+,0,8,-1.0,-1.0,7969

In [124]:
df.duplicated().sum()

5261

In [125]:
df.nunique()

Gender                            2
Age                               7
Occupation                       21
City_Category                     3
Stay_In_Current_City_Years        5
Marital_Status                    2
Product_Category_1               20
Product_Category_2               18
Product_Category_3               16
Purchase                      18105
dtype: int64

In [126]:
# df.drop(columns=['User_ID','Product_ID'], inplace = True)

In [127]:
df['Stay_In_Current_City_Years'].value_counts()

Stay_In_Current_City_Years
1     193821
2     101838
3      95285
4+     84726
0      74398
Name: count, dtype: int64

In [128]:
from sklearn.preprocessing import OneHotEncoder

In [129]:
df = pd.get_dummies(
    df,
    columns = ['Gender','City_Category'],
    drop_first=True,
    dtype = int,
)

In [130]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder(dtype =int)

In [131]:
columns_to_encode = ['Age','Stay_In_Current_City_Years']
df[columns_to_encode] = oe.fit_transform(df[columns_to_encode])

In [135]:
dfx = df.drop(columns = 'Purchase')
dfy = df['Purchase']

In [136]:
from sklearn.model_selection import train_test_split 
xtrain, xtest, ytrain,ytest = train_test_split(dfx, dfy, random_state=42, test_size=0.2)

In [141]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [142]:
model.fit(xtrain,ytrain)

LinearRegression()

In [143]:
ypred = model.predict(xtest)

In [145]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
mse = mean_squared_error(ytest, ypred)
rmse = mean_squared_error(ytest, ypred, squared=False)
mae = mean_absolute_error(ytest, ypred)
r2 = r2_score(ytest, ypred)

print(f'Mean Squared Error (MSE): {mse}')
print(f'Root Mean Squared Error (RMSE): {rmse}')
print(f'Mean Absolute Error (MAE): {mae}')
print(f'R-squared (R²): {r2}')

Mean Squared Error (MSE): 21309833.92142622
Root Mean Squared Error (RMSE): 4616.257566625396
Mean Absolute Error (MAE): 3524.2225929227593
R-squared (R²): 0.15188723601683551

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer

In [ ]:
preprocessor = ColumnTransformer(
    transformers=[
        ('drop_columns', 'drop', ['User_ID','Product_ID']),  # Drop specified columns
        ('encode_gender', OneHotEncoder(drop='first'), ['Gender']),  # One-hot encode gender and drop first
        ('encode_age', OneHotEncoder(drop='first'), ['Age']),  # One-hot encode age and drop first
        ('encode_city', OneHotEncoder(drop='first'), ['City_Category']),  # One-hot encode city-category and drop first
        # ('encode_stay', LabelEncoder(), ['Stay_In_Current_City_Years']),  # Label encode stay
        # ('impute_stay', SimpleImputer(strategy='constant', fill_value='4'), ['Stay_In_Current_City_Years']),  # Impute '4+' with '4'
        # ('replace_stay', 'passthrough', ['Stay_In_Current_City_Years']),  # Pass through the 'stay' column
        (
        ('encode_product_categories', 'passthrough', ['Product_Category_1','Product_Category_2','Product_Category_3']),  # No transformation for product_categories
        ('passthrough', 'passthrough', ['Marital_Status', 'Occupation', 'Purchase'])  # Leave other columns as they are
    ],
    remainder='passthrough'
)

In [ ]:
# pipeline = Pipeline(steps=[
#     ('preprocessor', preprocessor)
# ])

# # Fit and transform the data
# transformed_data = pipeline.fit_transform(df)

# # Get the feature names after transformation
# feature_names = preprocessor.get_feature_names_out()

# # Convert the transformed data back to a DataFrame for display
# transformed_df = pd.DataFrame(transformed_data, columns=feature_names)

# # Display the transformed DataFrame
# print(transformed_df)

In [ ]:
x = preprocessor.fit_transform(df)